<div class="media-obj">
  <img class="media-obj__picture" src="<%= book.image_url %>" />
  <div class="media-obj__data">
    <h3 class="media-obj__header">
      <%= book.title %>
    </h3>
    <h4 class="media-obj__header  --smaller">
      <%= book.author %>
    </h4>
  </div>
</div>